<router-outlet></router-outlet>

<div class="grid2">
  <div>
    <h1>Jogador A</h1>
    <div cdkDropListGroup>
      <div class="mao" cdkDropList [cdkDropListData]="mesa.jogadorA.cartas" (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal">
        <div *ngFor="let cartas of mesa.jogadorA.cartas" class="carta" cdkDrag [cdkDragData]="cartas" (click)="selecionaCarta($event, cartas)">
          <span class="nome {{cartas.naipe}}">{{cartas.nome}}<img src="/assets/images/{{cartas.naipe}}.png"></span>
          <span class="naipe"><img src="/assets/images/{{cartas.naipe}}.png"></span>
        </div>
      </div>
    </div>

    <h1>Jogador B</h1>
    <div class="mao">
      <div *ngFor="let cartas of mesa.jogadorB.cartas" class="carta" [ngClass]="1 > 2 ? '' : 'verso'">
        <span *ngIf="1 > 2" class="nome {{cartas.naipe}}">{{cartas.nome}}<img
            src="/assets/images/{{cartas.naipe}}.png"></span>
        <span *ngIf="1 > 2" class="naipe"><img src="/assets/images/{{cartas.naipe}}.png"></span>
      </div>
    </div>


    <h1 (click)="descerCarta(mesa.jogadorA, null)">MESA A</h1>
    <div *ngFor="let jogos of mesa.jogosA">
      <div class="carta" *ngFor="let cartas of jogos">
        <span class="nome {{cartas.naipe}}">{{cartas.nome}}<img src="/assets/images/{{cartas.naipe}}.png"></span>
        <span class="naipe"><img src="/assets/images/{{cartas.naipe}}.png"></span>
      </div>
    </div>

    <h1>MESA B</h1>
    <h1>LIXO</h1>

  </div>
  <div>
    <h1>DECK</h1>
    <div class="deck" (click)="comprarCarta(mesa.jogadorA)">
      <div class="carta verso" *ngFor="let deck of mesa.deck">
        <span class="total">{{mesa.deck.length}}</span>
      </div>
    </div>

    <h1>Morto A</h1>
    <div class="mao">
      <div *ngFor="let cartas of mesa.mortoA" class="carta">
        <span class="nome {{cartas.naipe}}">{{cartas.nome}}<img src="/assets/images/{{cartas.naipe}}.png"></span>
        <span class="naipe"><img src="/assets/images/{{cartas.naipe}}.png"></span>
      </div>
    </div>

    <h1>Morto B</h1>
    <div class="mao">
      <div *ngFor="let cartas of mesa.mortoB" class="carta">
        <span class="nome {{cartas.naipe}}">{{cartas.nome}}<img src="/assets/images/{{cartas.naipe}}.png"></span>
        <span class="naipe"><img src="/assets/images/{{cartas.naipe}}.png"></span>
      </div>
    </div>

  </div>
</div>
